main {
    padding-top: 2%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.error-desc{
    color: red;
}

.para{
    color: darkblue;
}

@media (max-width: 30rem) {
    h1 {
        font-size: 8.5rem;
    }
}

@media(max-width:450px) {
    main {
        margin-top: 41%;
    }
}