* {
  margin: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.head {
  color: navy;
}

.home-img {
  width: 60%;
}

.container{
  border: none;
  outline: none;
}

.home {
  position: relative;
  color: rgb(65, 65, 65);
  padding-left: 400px;
  margin-bottom: 50px;
}

.home .notices {
  position: absolute;
  left: 10px;
  top: 0px;
  height: 500px;
  max-height: 100vh;
  width: 400px;
  margin-block: 10px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 10px;
}

.home .notices .li {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.notices .head {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.tiles-container {
  text-align: center;
}

.home .tile {
  vertical-align: middle;
  background: linear-gradient(30deg, rgb(187, 214, 214), white);
  padding: 5px;
  min-width: 350px;
  min-height: 250px;
  overflow: auto;
  height: fit-content;
  max-height: 300px;
  width: 40%;
  display: inline-block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 5px;
  margin: 10px;
  transition: ease-in 200ms;
}

.home .tile .content {
  text-align: justify;
}

.home .tile .content h5 {
  display: inline-block;
}

.home .tile .content li {
  margin-block: 10px;
}

.home .tile:hover {
  background: linear-gradient(30deg, rgb(187, 214, 214), rgb(187, 214, 214));
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.tile .head {
  width: 100%;
  padding-block: 10px;
  border-bottom: 1px solid rgb(196, 196, 196);
}

@media (max-width:600px) {
  .home {
    padding: 10px;
  }

  .home .notices {
    position: relative;
    height: fit-content;
  }
}