.signup-forms{
    align-items: center;
    margin-top: 5%;
}
.title{
    color: darkgoldenrod;
    font-size: 2.5rem;
    font-weight: bold;
}
.signup-forms h1{
    font-size: 2.7rem;
    font-weight: bold;
    letter-spacing: 0px;
}

.signup-forms hr{
    height: 7px;
    background-color: black;
    border: none;
    align-items: center;
}
.signup-forms Form{
    border: crimson 3px solid;
    align-items: center;
    padding: 3%;
    width: 40%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: lightyellow;
}

.signup-forms button{
    background-color: green;
    border-radius: 10px;
    border: 2px solid white;
    font-weight: bold;
    padding-left: 3%;
    padding-right: 3%;
}
.signup-forms button:hover{
    background-color: blue;
}
.signup-forms Label{
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
}
.signup-forms a{
    color: blue;
    font-weight: bold;
}
.signup-forms a:hover{
    color: red;
    text-decoration: underline none;
}

/*media queries*/
@media screen and (max-width:1200px){
    .signup-forms Form{
        margin-top: 12%;
        width: 50% ; 
    }
}


@media screen and (max-width:1024px){
    .signup-forms Form{
        margin-top: 14%;
        width: 60% ; 
    }
}

@media screen and (max-width:768px){
    .signup-forms Form{
        margin-top: 18%;
        width: 80% ;
    }

}

@media screen and (max-width:480px){
    .signup-forms Form{
        margin-top: 24%;
        width: 85%;
    }

}

@media screen and (max-width:320px){
    .signup-forms Form{
        margin-top: 30%;
        width: 90% ;
    }

}